/********** Template CSS **********/
:root {
  --primary: #f7cb1c;
  --light: #fff5f3;
  --dark: #103741;
}
/* Yellow #F7CB1C Blue #17375B Cyan #25AA9B pink #EC4C6C */
.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/*** Spinner ***/
#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
}

.btn.btn-primary {
  color: #ffffff;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
  border-radius: 50px;
}

/*** Heading ***/
h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.display-1,
.display-2,
.display-3,
.display-4,
.display-5,
.display-6 {
  font-family: "Stupendous Jack", cursive;
  font-weight: 700;
}

h5,
h6,
.h5,
.h6 {
  font-weight: 600;
}

.font-secondary {
  font-family: "Stupendous Jack", cursive;
}

/*** Navbar ***/
.navbar .navbar-nav .nav-link {
  padding: 30px 15px;
  color: var(--dark);
  font-weight: 500;
  outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar.sticky-top {
  top: -100px;
  transition: 0.5s;
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  vertical-align: middle;
  margin-left: 5px;
  transition: 0.5s;
}

.navbar .dropdown-toggle[aria-expanded="true"]::after {
  transform: rotate(-180deg);
}

@media (max-width: 991.98px) {
  .navbar .navbar-nav .nav-link {
    margin-right: 0;
    padding: 10px 0;
  }

  .navbar .navbar-nav {
    margin-top: 15px;
    border-top: 1px solid #eeeeee;
  }
}

@media (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    top: calc(100% - 15px);
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
  }

  .navbar .nav-item:hover .dropdown-menu {
    top: 100%;
    visibility: visible;
    transition: 0.5s;
    opacity: 1;
  }
}

/*** Header ***/
.header-carousel::before,
.header-carousel::after,
.page-header::before,
.page-header::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  background: url(../img/bg-header-top.png) center center repeat-x;
  z-index: 1;
}

.header-carousel::after,
.page-header::after {
  height: 19px;
  top: auto;
  bottom: 0;
  background: url(../img/bg-header-bottom.png) center center repeat-x;
}

@media (max-width: 768px) {
  .header-carousel .owl-carousel-item {
    position: relative;
    min-height: 500px;
  }

  .header-carousel .owl-carousel-item img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .header-carousel .owl-carousel-item p {
    font-size: 16px !important;
    font-weight: 400 !important;
  }

  .header-carousel .owl-carousel-item h1 {
    font-size: 30px;
    font-weight: 600;
  }
}

.header-carousel .owl-nav {
  position: absolute;
  top: 50%;
  right: 8%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
  margin: 7px 0;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 45px;
  font-size: 22px;
  transition: 0.5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
  background: var(--primary);
  border-color: var(--primary);
}

.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../img/boys.jpg) center center no-repeat;
  background-size: cover;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: rgba(255, 255, 255, 0.5);
}

/*******************************/
/********** Facts CSS **********/
/*******************************/
.facts {
    position: relative;
    width: 100%;
    min-height: 70px;
    margin: 45px 0;
    display: flex;
    align-items: center;
}

.facts .facts-item {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

.facts .facts-item i {
    margin-top: 10px;
    font-size: 60px;
    line-height: 60px;
    color: #25AA9B;
}

.facts .facts-text {
    padding-left: 20px;
}

.facts .facts-text h3 {
    position: relative;
    display: inline-block;
    color: #EC4C6C;
    font-size: 45px;
    font-weight: 700;
}

.facts .facts-text h3::after {
    position: absolute;
    top: 0px;
    color: #EC4C6C;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.facts .facts-text h3.facts-plus::after {
    content: "\f067";
    right: -25px;
}

.facts .facts-text h3.facts-dollar::after {
    content: "\f155";
    right: -18px;
}

.facts .facts-text p {
    color: #25AA9B ;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}


/*** Facility ***/
.facility-item .facility-icon {
  position: relative;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.facility-item .facility-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}

.facility-item .facility-icon span {
  position: absolute;
  content: "";
  width: 15px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.facility-item .facility-icon span:last-child {
  left: auto;
  right: 0;
}

.facility-item .facility-icon i {
  position: relative;
  z-index: 2;
}

.facility-item .facility-text {
  position: relative;
  min-height: 250px;
  padding: 30px;
  border-radius: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
}

.facility-item .facility-text::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  transition: 0.5s;
  z-index: 1;
}

.facility-item .facility-text * {
  position: relative;
  z-index: 2;
}

.facility-item:hover .facility-icon::before,
.facility-item:hover .facility-text::before {
  background: transparent;
}

.facility-item * {
  transition: 0.5s;
}

.facility-item:hover * {
  color: #ffffff !important;
}

/*** About ***/
.about-img img {
  transition: 0.5s;
}

.about-img img:hover {
  background: var(--primary) !important;
}
/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    width: 100%;
    height: 100vh;
}

.about .about-tab {
    width: 100%;
}

.about .about-tab .nav.nav-pills .nav-link {
    padding: 8px;
    font-weight: 600;
    background: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
    transition: none;
}

.about .about-tab .nav.nav-pills .nav-link:hover,
.about .about-tab .nav.nav-pills .nav-link.active {
    color: #FDBE33;
    padding-bottom: 7px;
    border-bottom: 3px solid #FDBE33;
}

.about .about-tab .tab-content {
    padding: 15px 0 0 0;
    background: transparent;
}

.about .about-tab .tab-content .container {
    padding: 0;
}

@media (max-width: 991.98px) {
    .about .section-header {
        margin-top: 30px;
    }
}

/***SDGs***/
#card-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border: none;
  border-radius: 10px;
  margin-right: 15px;
  margin-bottom: 15px;
}

.card-body {
  height: 0px;
  width: 225px;
  position: absolute;
  transform: translateY(80px);
  opacity: 0;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  transition: all 0.4s;
  overflow: hidden;
  background-color: #17375b;
}

.card-text {
  font-family: "Heebo", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #fff5f3;
}

.card:hover .card-body {
  opacity: 1;
  height: 250px;
  transform: translateY(0px);
}

/*** Classes ***/
.classes-item {
  transition: 0.5s;
}

.classes-item:hover {
  margin-top: -10px;
}

/*** Team ***/
.team-item .team-text {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #ffffff;
  border: 17px solid var(--light);
  border-radius: 250px;
  transition: 0.5s;
}

.team-item:hover .team-text {
  border-color: var(--primary);
}

/*******************************/
/********** Programss CSS *********/
/*******************************/
.causes {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.causes .causes-carousel {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
}

.causes .causes-item {
    margin: 0 15px;
    overflow: hidden;
    background: #f3f6ff;
}

.causes-item {
  padding: 2em;
}

.causes .causes-img {
    overflow: hidden;
}

.causes .causes-img img {
    width: 100%;
    transition: .3s;
}

.causes .causes-item:hover img {
    transform: scale(1.1);
}


.causes .causes-progress {
    width: 100%;
    margin-top: 32px;
    padding: 30px 30px 20px 30px;
}

.causes .progress {
    height: 10px;
    border-radius: 0;
    background: #dddddd;
    overflow: visible;
}

.causes .progress .progress-bar {
    position: relative;
    width: 0px;
    background: #FDBE33;
    overflow: visible;
    transition: 2s;
}

.causes .progress-bar span {
    position: absolute;
    top: -32px;
    right: 0;
    height: 23px;
    display: inline-block;
    padding: 2px 6px;
    background: #FDBE33;
    color: #20212B;
}

.causes .progress-bar span::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 23px;
    left: calc(50% - 6px);
    border: 6px solid;
    border-color: #FDBE33 transparent transparent transparent;
}

.causes .progress-text {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.causes .progress-text p {
    margin: 0;
}

.causes .causes-text {
    padding: 0 30px;
}

.causes .causes-text h3 {
    font-size: 22px;
    font-weight: 700;
}

.causes .causes-text p {
    margin: 0;
}

.causes .causes-btn {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

.causes .causes-btn .btn {
    padding: 10px 0;
    width: 50%;
}

.causes .causes-btn .btn:last-child {
    color: #ffffff;
    background: #EC4C6C;
}

.causes .causes-btn .btn:last-child:hover {
    color: #ffffff;
}


/*******************************/
/**********Start  Event CSS **********/
/*******************************/
.event {
  position: relative;
  width: 100%;
  padding: 45px 0 15px 0;
}

.event .event-item {
  margin-bottom: 30px;
  background: #f3f6ff;
}

.event .event-item img {
  width: 100%;
}

.event .event-content {
  padding: 30px;
  display: flex;
}

.event .event-meta {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.event .event-meta p {
  position: relative;
  margin-bottom: 8px;
  padding-bottom: 8px;
  white-space: nowrap;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.event .event-meta p:last-child {
  border-bottom: none;
}

.event .event-meta i {
  color: #4a4c70;
  width: 25px;
}

.event .event-text {
  position: relative;
  margin-left: 20px;
  padding-left: 20px;
}

.event .event-text::before {
  position: absolute;
  content: "";
  width: 1px;
  height: calc(100% - 5px);
  top: 6px;
  left: 0;
  background: rgba(0, 0, 0, 0.15);
}

.event .event-text::after {
  position: absolute;
  content: "";
  width: 3px;
  height: 40px;
  top: calc(50% - 20px);
  left: -1px;
  background: #fdbe33;
}

.event .event-text h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.event .event-text p {
  margin: 0;
}

.event .btn.btn-custom {
  margin-top: 20px;
  padding: 8px 30px;
}

@media (max-width: 575.98px) {
  .event .event-content {
    flex-direction: column;
  }

  .event .event-meta {
    flex-direction: row;
  }

  .event .event-meta p {
    font-size: 14px;
    padding-right: 7px;
  }

  .event .event-meta p:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  }

  .event .event-meta i {
    width: 18px;
  }

  .event .event-text {
    margin: 0;
    padding: 0;
  }

  .event .event-text::before,
  .event .event-text::after {
    display: none;
  }
}
  /*******************************/
  /********** End Event CSS **********/
  /*******************************/


/*** Testimonial ***/
.testimonial-carousel {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

@media (min-width: 576px) {
  .testimonial-carousel {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.testimonial-carousel .testimonial-item .border {
  border: 1px dashed rgba(0, 185, 142, 0.3) !important;
}

.testimonial-carousel .owl-nav {
  position: absolute;
  width: 100%;
  height: 45px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  position: relative;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color:  #25AA9B;
  background: var(--primary);
  border-radius: 45px;
  font-size: 20px;
  transition: 0.5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  background: var(--dark);
}

/*******************************/
/********* Service CSS *********/
/*******************************/
.service {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    transition: .3s;
}

.service .service-icon {
    position: relative;
    width: 60px;
}

.service .service-icon i {
    position: relative;
    display: block;
    color:  #25AA9B;
    font-size: 60px;
    line-height: 60px;
    margin-top: 5px;
}

.service .service-text {
    position: relative;
    margin-left: 20px;
    padding-left: 20px;
}

.service .service-text::before {
    position: absolute;
    content: "";
    width: 1px;
    height: calc(100% - 10px);
    top: 5px;
    left: 0;
    background: rgba(0, 0, 0, .1);
}

.service .service-text::after {
    position: absolute;
    content: "";
    width: 3px;
    height: 40px;
    top: calc(50% - 20px);
    left: -1px;
    background:  #25AA9B;
}

.service .service-text h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service .service-text p {
    margin: 0;
}
/*** Footer ***/
.footer .btn.btn-social {
  margin-right: 5px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 45px;
  transition: 0.3s;
}

.footer .btn.btn-social:hover {
  border-color: var(--primary);
  background: var(--primary);
}

.footer .btn.btn-link {
  display: block;
  margin-bottom: 5px;
  padding: 0;
  text-align: left;
  font-size: 16px;
  font-weight: normal;
  text-transform: capitalize;
  transition: 0.3s;
}

.footer .btn.btn-link::before {
  position: relative;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 10px;
}

.footer .btn.btn-link:hover {
  color: var(--primary) !important;
  letter-spacing: 1px;
  box-shadow: none;
}

.footer .form-control {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
  padding: 25px 0;
  font-size: 15px;
  border-top: 1px solid rgba(256, 256, 256, 0.1);
}

.footer .copyright a {
  color: #ffffff;
}

.footer .footer-menu a {
  margin-right: 15px;
  padding-right: 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
  color: var(--primary) !important;
}

.footer .footer-menu a:last-child {
  margin-right: 0;
  padding-right: 0;
  border-right: none;
}
